body {
    background-color: grey;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}
.cara {
    background-color: #fbe9da;
    width: 300px;
    height: 220px;
    border-radius: 45%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.gorro {
    background-color: #ffffff;
    width: 450px;
    height: 330px;
    border-top-right-radius: 39%;
    border-top-left-radius: 39%;
   
    position: relative;
}

.gorro-puntas {
    background-color: #ffffff;
    width: 70px;
    height: 200px;
    border-top-left-radius: 39%;
    border-top-right-radius: 39%;
    position: absolute;
    top: 20%;
    left: 21.1%;
}

.gorro-puntas:nth-of-type(2) {
    left: 69.9%;
}

.ojos {
    width: 11px;
    height: 26px;
    background-color: #000000;
    border-radius: 50%;
    float: left;
    margin: 50px 50px;
}

.sonrisa {
    border-bottom: 5px solid #000000;
    width: 50px;
    height: 51px;
    border-radius: 50%;
    transform: translate(83px, 54px);

}